In [1]:
import pandas as pd

# read input file
df = pd.read_csv('country_vaccination_stats.csv')

In [2]:
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 NaN  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

In [3]:
df.isnull().sum()

country                0
date                   0
daily_vaccinations    60
vaccines               0
dtype: int64

In [4]:
# Group by country and fill null values with the minimum daily vaccination number of relevant countries
df['daily_vaccinations'] = df.groupby('country')['daily_vaccinations'].transform(lambda x: x.fillna(x.min()))

In [5]:
df.isnull().sum()

country               0
date                  0
daily_vaccinations    1
vaccines              0
dtype: int64

In [6]:
# Fill remaining null values with 0
df['daily_vaccinations'] = df['daily_vaccinations'].fillna(0)

In [7]:
# write output file
df.to_csv('filled_vaccination_data.csv', index=False)